name: tests
on: [push]
jobs:
  all-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: ./tests/test_certs.sh
      - run: ./tests/test_crls.sh
      - run: ./tests/test_esim.sh
      - run: ./tests/test_pkcs7.sh
      - run: ./tests/test_misc.sh
